{% extends "base.html" %}

{% block title %}Login – SummerTravel{% endblock %}

{% block content %}
<div class="getstarted_main">
    <div class="login">
        <div class="login_title">
            <h5>Sign into your account</h5>
            <p>Enter your username and password to login</p>
            <form method="POST" action="{{ url_for('login') }}">
                <input type="text" placeholder="Enter Username" name="uname" class="email" required>
                <input type="password" placeholder="Enter Password" name="psw" class="email" required>
                <button class="login_btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
